CREATE TABLE `FullnodeRBTtable` (`token_id` text,`parent_token_id` text,`token_value` real,`owner_did` text,`publisher_did` text,`transaction_id` text,`block_hash` text,`block_height` integer,`sync_status` integer,`token_status` integer,PRIMARY KEY (`token_id`));
CREATE TABLE `FullnodeFTtable` (`token_id` text,`ft_name` text,`owner_did` text,`creator_did` text,`publisher_did` text,`token_value` real,`transaction_id` text,`block_hash` text,`block_height` integer,`sync_status` integer,`token_status` integer,PRIMARY KEY (`token_id`));
CREATE TABLE `FullnodeNFTtable` (`token_id` text,`token_value` real,`owner_did` text,`publisher_did` text,`transaction_id` text,`block_hash` text,`block_height` integer,`sync_status` integer,`token_status` integer,PRIMARY KEY (`token_id`));
CREATE TABLE `FullnodeSCtable` (`smart_contract_hash` text,`deployer` text,`publisher_did` text,`transaction_id` text,`block_hash` text,`block_height` integer,`sync_status` integer,`token_status` integer,PRIMARY KEY (`smart_contract_hash`));
CREATE TABLE `FailedTxns` (`txn_id` text,`publisher_did` text,`error` text,`failed_at` datetime,`retry_count` integer);
CREATE TABLE `FullnodeFailedTokensTable` (`token_id` text,`token_type` integer,`did` text,`asset_type` integer,`reason` text,PRIMARY KEY (`token_id`));
CREATE TABLE `DoubleSpentTokensTable` (`token_id` text,`asset_type` integer,`token_type` integer,`publisher_did` text,`claimed_owner_I` text,`claimed_owner_II` text,`error` text,PRIMARY KEY (`token_id`));
CREATE TABLE `FullnodeTxnHistoryTable` (`transaction_id` text,`transaction_value` real,`block_hash` text,PRIMARY KEY (`transaction_id`));
CREATE TABLE `FullnodeMultipleChildTokensTable` (`parent_token_id` text,`child_token_id` text);
